---
layout: default
---


<style type="text/css">
  .container {
    max-width: 900px !important;
  }

  body {
    font-weight: 300;
    font-size: 16px;
    /* background-color: rgb(43, 60, 197); */
    /*color: rgb(0, 79, 241);*/
    /*color: white;*/
    /* border-top: 5px solid rgb(255, 180, 240); */
    /* border-bottom: 5px solid orange; */
  }

  b {
    color: rgb(0, 79, 241);
  }

  i {
    color: rgb(0, 79, 241);
  }

  .posts {
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    font-size: 14px;

  }

  .news {
    line-height: 1.5em;
    margin: 0 0 0 0;
  }

  /* .post { */
  /* border-left: 5px solid rgb(255, 180, 240); */
  /* border-left: 5px solid rgb(145, 70, 255); */
  /* border-left: 5px solid rgb(0, 79, 241); */
  /* } */

  .xtitle {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    margin: 10px 0;
    /* color: rgb(145, 70, 255); */
    color: rgb(0, 79, 241);
  }

  .posts .teaser {
    align: left;
    width: 100%;
    /*      height: 20%;*/
    overflow: hidden;
    /*        width: 200px;*/
    /*        height: 350px;*/
    height: 100%;
    float: left;
    /* margin: 0 0 0 10px; */
    margin: 0 0 0 0;
  }

  .posts .teaser-left {
    align: left;
    margin: 0 auto;
    max-width: 200px;
    max-height: 200px;
    display: block;
    width: auto;
    height: auto;
  }

  .teaser-container {
    float: left;
    width: 200px;
    height: 200px;

    margin-right: 20px;
    margin-left: 20px;
  }

  .post-hidden {
    display: none;
  }

  a {
    color: #111;
    position: relative;
  }

  a:after {
    content: '';
    position: absolute;
    top: 60%;
    left: -0.1em;
    right: -0.1em;
    bottom: 0;
    transition: top 200ms cubic-bezier(0, 0.8, 0.13, 1);
    /*background-color: rgba(225, 166, 121, 0.5);*/
    /* background-color: rgba(255, 211, 30, 0.5); */
  }

  .emojilink:after {
    background-color: rgba(255, 211, 30, 0.0)
      /*rgba(225, 166, 121, 0.0);*/
  }

  a:hover {
    /* color: rgb(255, 180, 240); */
    color: rgb(145, 70, 255);
  }

  a:hover:after {
    /* color: rgb(255, 180, 240); */
    color: rgb(145, 70, 255);
    /*color: #111;*/
    top: 0%;
  }

  .xcode a:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    transition: top 200ms cubic-bezier(0, 0.8, 0.13, 1);
    /*background-color: rgba(225, 166, 121, 0.5);*/
    background-color: #fff;
  }

  .xcode a:hover:after {
    color: #fff;
    /*color: #111;*/
  }

  .entry {
    position: relative;
    top: 0;
    left: 20px;
    margin-top: 5px;
  }

  .posts>.post {
    border-bottom: 0;
    padding-bottom: 0em;
    padding-top: 10px;
    margin-bottom: 10px;
  }

  .papertitle {
    margin-top: 0px;
    font-weight: 600;
    font-size: 16px;
    /* font-style: italic; */
    /*font-style: italic;*/
    /*height: 2.6em*/
  }
</style>

<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>

<script type="text/javascript">

  $(function () {
    $('#vis_teaser').on('click', function () {
      $('.unimportant').toggleClass('post-hidden')
    });
  });
</script>

<div>
  <img style="width: 100px;float: left;" src="images/selfie_cut.png">
  <div style="position: relative; left:20px;">
    <div style="font-size:20px;font-weight: 300">Zhuokai Zhao</div>
    <div style="font-size:16px;">PhD Candidate in Computer Science</div>
    <div style="font-size:16px;">University of Chicago</div>
    <div style="font-size:16px;">
      <a style="text-decoration:underline;" target="_blank" href="mailto:zhuokai@uchicago.edu">Email</a> /
      <a style="text-decoration:underline;" target="_blank"
        href="https://scholar.google.com/citations?user=EGcdEjEAAAAJ">Google Scholar</a> /
      <a style="text-decoration:underline;" target="_blank"
        href="https://www.semanticscholar.org/author/Zhuokai-Zhao/2238390520">Semantic Scholar</a> /
      <a style="text-decoration:underline;" target="_blank" href="https://github.com/zhuokaizhao">Github</a> /
      <a style="text-decoration:underline;" target="_blank"
        href="https://www.linkedin.com/in/zhuokai-zhao-a9385169/">LinkedIn</a> /
      <a style="text-decoration:underline;" target="_blank" href="https://twitter.com/zhuokaiz">X (Twitter)</a> /
      <a style="text-decoration:underline;" target="_blank" href="./pdf/Zhuokai_Zhao_resume_spring_2024.pdf">Resume</a>
      <!-- <a target="_blank" href="./pdf/Zhuokai_Zhao_resume_fall_2023.pdf">Curriculum vitae</a> -->
    </div>
  </div>
</div>


<div id="Biography" class='xtitle'>Biography</div>
<div style="text-align: justify;clear: both; position: relative; bottom:0px;">
  I am currently a research scientist at Meta AI. I got my PhD in Computer Science from the
  <a style="text-decoration:underline;" target="_blank" href="https://cs.uchicago.edu/people/zhuokai-zhao/">University
    of Chicago</a>.
  My research focus is to develop novel training and inference algorithms to improve trustworthiness, robustness, and
  data efficiency for multimodal deep learning models, more specifically large language models (LLMs) and large
  vision-language models (LVLMs).
  <br /><br />
  During my PhD, I was fortunate to have been working with
  <a style="text-decoration:underline;" target="_blank" href="https://yuxinchen.org/">Prof. Yuxin Chen</a> (advisor),
  <a style="text-decoration:underline;" target="_blank" href="https://aisecure.github.io/">Prof. Bo Li</a> (committee
  member),
  and <a style="text-decoration:underline;" target="_blank" href="https://people.cs.uchicago.edu/~mmaire/">Prof. Michael
    Maire</a> (committee member).
  <!-- I obtained my Master's degree in Computer Science as part of my PhD in 2021, advised by
  <a style="text-decoration:underline;" target="_blank" href="https://people.cs.uchicago.edu/~glk/">Prof. Gordon Kindlmann</a>. -->
  <br /><br />
  Previously, I received my Master's degree in Robotics from
  <a style="text-decoration:underline;" target="_blank" href="https://lcsr.jhu.edu/">the Johns Hopkins University</a>,
  under the supervision of <a style="text-decoration:underline;" target="_blank"
    href="https://engineering.jhu.edu/faculty/nassir-navab/">Prof. Nassir
    Navab</a>, and my Bachelor's degree with Honors in Electrical Engineering from <a style="text-decoration:underline;"
    target="_blank" href="https://ece.illinois.edu/">the University of Illinois at
    Urbana-Champaign</a>, where I was working with
  <a style="text-decoration:underline;" target="_blank" href="https://faculty.cc.gatech.edu/~seth/">Prof. Seth
    Hutchinson</a>.
  <br /><br />
  <!-- <span style="color: rgb(0, 79, 241);">
    I am happy to collaborate on machine learning related projects.
    Please feel free to send me an email.
  </span> -->
</div>

<!-- <div id="News" class='xtitle'>News</div>
<ul class="news" style="line-height: 2em">
  <li>
    Started a new position as an Applied Scientist intern at <b>Twitch</b>.
    <div style="float: right;"> 06/05/2023 </div>
  </li>
  <li>
    Released a new preprint on better ML model evaluations on Arxiv.
    <div style="float: right;">05/31/2023 </div>
  </li>
  <li>
    1 paper accepted to <b>KDD-23</b>.
    <div style="float: right;">05/16/2023 </div>
  </li>
  <li>
    Started a new position as a Student Researcher at <b>Meta AI</b>.
    <div style="float: right;">09/05/2022 </div>
  </li>
  <li>
    Started a new position as a PhD Machine Learning Engineer at <b>Meta AI</b>.
    <div style="float: right;">06/06/2022 </div>
  </li>
</ul> -->

<div id="Experience" class='xtitle'>Work Experience</div>
<ul class="news" style="line-height: 2em">
  <li>
    Research Scientist, <i>Meta AI</i>
    <div style="float: right;">06/2024 - present </div>
  </li>
  <li>
    Applied Scientist Intern, <i>Twitch (Amazon Science)</i>
    <div style="float: right;">06/2023 - 08/2023 </div>
  </li>
  <li>
    Part-time Student Researcher, <i>Meta AI</i>
    <div style="float: right;">08/2023 - 11/2023 </div>
  </li>
  <li>
    PhD Machine Learning Engineer Intern, <i>Meta AI</i>
    <div style="float: right;">06/2023 - 08/2023 </div>
  </li>
  <li>
    Research & Development Intern, <i>Kitware, Inc.</i>
    <div style="float: right;">06/2019 - 09/2019 </div>
  </li>
  <li>
    Research Intern, <i>JD.com</i>
    <div style="float: right;">05/2018 - 09/2018 </div>
  </li>
  <li>
    Research Intern, <i>Siemens Corporate Research</i>
    <div style="float: right;">05/2017 - 08/2017 </div>
  </li>
</ul>
<br /><br />

<!-- <div id="Educations" class='xtitle' >Educations</div>
<ul class="news" style="list-style: none;">
<li> University of Macau, Ph.D  <div style="float: right;">2018.9 - 2021.X </div>  </li>
<li> University of Macau, M.S. <div style="float: right;">2015.8 - 2018.6 </div> </li>
<li> Xidian University, B.S. <div style="float: right;">2011.8 - 2015.7 </div></li>

</ul> -->

<!-- research highlight section -->
<!-- use highlight: Ture in .md to put pub in this section -->
<div id="Publications" class='xtitle'> Publications
  <span style="color:#333;font-size: 14px; font-family: Helvetica, Arial, sans-serif; ">
    <b> (* indicates co-first authorship)</b>
  </span>
</div>
<!-- publications in 2024 -->
<div id="2024" class='xtitle'> 2024
  <span style="color:#333;font-size: 14px; font-family: Helvetica, Arial, sans-serif; ">
  </span>
</div>
<div class="posts">
  {% for post in site.posts %}

  {% if post.year == 2024 %}
  <article class="post">

    <!-- <div style="position: relative; left:-50px; font-size: 18px;">{{post.year}}</div> -->

    <!-- <div style="text-align:center;"><img class="teaser-img" src="{{post.teaser}}"> </div> -->

    <div class="teaser-container">
      <img class="teaser-left" src="{{post.teaser}}">
    </div>

    <div class="papertitle entry">{{ post.title }}</div>

    <div class="entry">
      {{ post.authors }}
    </div>

    <div class="entry">
      <i>{{post.publication}}</i>, <i>{{post.year}}</i>
      {% if post.journal%}
      /
      <i>{{post.journal}}</i>, <i>{{post.year}}</i>
      {% endif %}
    </div>

    <div class="entry">

      {% if post.arxiv%}
      <a class='links' target="_blank" href="{{ post.arxiv_url }}" rel="paperurl">PDF</a>
      {% endif %}

      {% if post.demo%}
      /
      <a class='links' target="_blank" href="{{ post.demo }}" rel="paperurl">Online Demo</a>
      {% endif %}

      {% if post.project%}
      /
      <a class='links' target="_blank" href="{{ post.project }}" rel="paperurl">Project Page</a>
      {% endif %}

      {% if post.code%}
      /
      <a target="_blank" href="{{post.code}}">Code</a>
      {% endif %}

      {% if post.code%}
      <div style="display: inline-block; float:right" class="xcode">
        <!-- <a class="github-button" href="{{post.code}}" data-show-count="true">Star</a>  -->
        <a href="{{post.code}}"><img
            src="https://img.shields.io/github/stars/{{post.code| replace:'https://github.com/', ''}}?style=social" /></a>
      </div>
      {% endif %}

      <br>
      <i style='display:inline-block;margin-top: 5px'>{{post.highlight_reason}}</i>

    </div>
    <div style="clear:both"></div>
    <!-- <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a> -->
  </article>
  {% endif %}
  {% endfor %}
</div>
<!-- publications in 2024 -->
<div id="2023" class='xtitle'> 2023
  <span style="color:#333;font-size: 14px; font-family: Helvetica, Arial, sans-serif; ">
  </span>
</div>
<div class="posts">
  {% for post in site.posts %}

  {% if post.year == 2023 %}
  <article class="post">

    <!-- <div style="position: relative; left:-50px; font-size: 18px;">{{post.year}}</div> -->

    <!-- <div style="text-align:center;"><img class="teaser-img" src="{{post.teaser}}"> </div> -->

    <div class="teaser-container">
      <img class="teaser-left" src="{{post.teaser}}">
    </div>

    <div class="papertitle entry">{{ post.title }}</div>

    <div class="entry">
      {{ post.authors }}
    </div>

    <div class="entry">
      <i>{{post.publication}}</i>, <i>{{post.year}}</i>
      {% if post.journal%}
      /
      <i>{{post.journal}}</i>, <i>{{post.year}}</i>
      {% endif %}
    </div>

    <div class="entry">

      {% if post.arxiv%}
      <a class='links' target="_blank" href="{{ post.arxiv_url }}" rel="paperurl">PDF</a>
      {% endif %}

      {% if post.demo%}
      /
      <a class='links' target="_blank" href="{{ post.demo }}" rel="paperurl">Online Demo</a>
      {% endif %}

      {% if post.project%}
      /
      <a class='links' target="_blank" href="{{ post.project }}" rel="paperurl">Project Page</a>
      {% endif %}

      {% if post.code%}
      /
      <a target="_blank" href="{{post.code}}">Code</a>
      {% endif %}

      {% if post.code%}
      <div style="display: inline-block; float:right" class="xcode">
        <!-- <a class="github-button" href="{{post.code}}" data-show-count="true">Star</a>  -->
        <a href="{{post.code}}"><img
            src="https://img.shields.io/github/stars/{{post.code| replace:'https://github.com/', ''}}?style=social" /></a>
      </div>
      {% endif %}

      <br>
      <i style='display:inline-block;margin-top: 5px'>{{post.highlight_reason}}</i>

    </div>
    <div style="clear:both"></div>
    <!-- <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a> -->
  </article>
  {% endif %}
  {% endfor %}
</div>


<!-- Other publications section -->
<!-- use is_dissertation: Ture in .md to put pub in this section -->
<!-- <div id="Publications" class='xtitle'> other publications <span
    style="color:#333;font-size: 14px; font-family: Helvetica, Arial, sans-serif; ">
  </span>
</div>

<div class="posts">
  {% for post in site.posts %}

  {% if post.is_other_publications %}
  <article class="post">

    <div class="teaser-container">
      <img class="teaser-left" src="{{post.teaser}}">
    </div>

    <div class="papertitle entry">{{ post.title }}</div>

    <div class="entry">
      {{ post.authors }}
    </div>

    <div class="entry">
      <i>{{post.publication}}</i>, <i>{{post.year}}</i>
      {% if post.journal%}
      /
      <i>{{post.journal}}</i>, <i>{{post.year}}</i>
      {% endif %}
    </div>

    <div class="entry">

      {% if post.arxiv%}
      <a class='links' target="_blank" href="{{ post.arxiv_url }}" rel="paperurl">PDF</a>
      {% endif %}

      {% if post.demo%}
      /
      <a class='links' target="_blank" href="{{ post.demo }}" rel="paperurl">Online Demo</a>
      {% endif %}

      {% if post.project%}
      /
      <a class='links' target="_blank" href="{{ post.project }}" rel="paperurl">Project Page</a>
      {% endif %}

      {% if post.code%}
      /
      <a target="_blank" href="{{post.code}}">Code</a>
      {% endif %}

      {% if post.code%}
      <div style="display: inline-block; float:right" class="xcode">
        <a href="{{post.code}}"><img
            src="https://img.shields.io/github/stars/{{post.code| replace:'https://github.com/', ''}}?style=social" /></a>
      </div>
      {% endif %}

      <br>
      <i style='display:inline-block;margin-top: 5px'>{{post.highlight_reason}}</i>

    </div>
    <div style="clear:both"></div>
  </article>
  {% endif %}
  {% endfor %}
</div> -->


<!-- dissertation section -->
<!-- <div id="Dissertations" class='xtitle'> Dissertations <span
    style="color:#333;font-size: 14px; font-family: Helvetica, Arial, sans-serif; ">
  </span>
</div>
<div class="posts">
  {% for post in site.dissertations %}

  <article class="post">

    <div class="teaser-container">
      <img class="teaser-left" src="{{post.teaser}}">
    </div>

    <div class="papertitle entry">{{ post.title }}</div>

    <div class="entry">
      {{ post.authors }}
    </div>

    <div class="entry">
      <i>{{post.publication}}</i>, <i>{{post.year}}</i>
      {% if post.journal%}
      /
      <i>{{post.journal}}</i>, <i>{{post.year}}</i>
      {% endif %}
    </div>

    <div class="entry">

      {% if post.arxiv%}
      <a class='links' target="_blank" href="{{ post.arxiv_url }}" rel="paperurl">PDF</a>
      {% endif %}

      {% if post.demo%}
      /
      <a class='links' target="_blank" href="{{ post.demo }}" rel="paperurl">Online Demo</a>
      {% endif %}

      {% if post.project%}
      /
      <a class='links' target="_blank" href="{{ post.project }}" rel="paperurl">Project Page</a>
      {% endif %}

      {% if post.code%}
      /
      <a target="_blank" href="{{post.code}}">Code</a>
      {% endif %}

      {% if post.code%}
      <div style="display: inline-block; float:right" class="xcode">
        <a href="{{post.code}}"><img
            src="https://img.shields.io/github/stars/{{post.code| replace:'https://github.com/', ''}}?style=social" /></a>
      </div>
      {% endif %}

      <br>
      <i style='display:inline-block;margin-top: 5px'>{{post.highlight_reason}}</i>

    </div>
    <div style="clear:both"></div>
  </article>
  {% endfor %}
</div> -->


<!-- open source software and project section -->
<div id="Projects" class='xtitle'> other projects <span
    style="color:#333;font-size: 14px; font-family: Helvetica, Arial, sans-serif; ">
  </span>
</div>

<div class="posts">
  {% for post in site.posts %}

  {% if post.is_other_project %}
  <article class="post">

    <!-- <div style="position: relative; left:-50px; font-size: 18px;">{{post.year}}</div> -->

    <!-- <div style="text-align:center;"><img class="teaser-img" src="{{post.teaser}}"> </div> -->

    <div class="teaser-container">
      <img class="teaser-left" src="{{post.teaser}}">
    </div>

    <div class="papertitle entry">{{ post.title }}</div>

    <div class="entry">
      {{ post.authors }}
    </div>

    <div class="entry">
      <i>{{post.publication}}</i>, <i>{{post.year}}</i>
      {% if post.journal%}
      /
      <i>{{post.journal}}</i>, <i>{{post.year}}</i>
      {% endif %}
    </div>

    <div class="entry">

      {% if post.arxiv%}
      <a class='links' target="_blank" href="{{ post.arxiv_url }}" rel="paperurl">PDF</a>
      {% endif %}

      {% if post.demo%}
      /
      <a class='links' target="_blank" href="{{ post.demo }}" rel="paperurl">Online Demo</a>
      {% endif %}

      {% if post.project%}
      /
      <a class='links' target="_blank" href="{{ post.project }}" rel="paperurl">Project Page</a>
      {% endif %}

      {% if post.code%}
      /
      <a target="_blank" href="{{post.code}}">Code</a>
      {% endif %}

      {% if post.code%}
      <div style="display: inline-block; float:right" class="xcode">
        <!-- <a class="github-button" href="{{post.code}}" data-show-count="true">Star</a>  -->
        <a href="{{post.code}}"><img
            src="https://img.shields.io/github/stars/{{post.code| replace:'https://github.com/', ''}}?style=social" /></a>
      </div>
      {% endif %}

      <br>
      <i style='display:inline-block;margin-top: 5px'>{{post.highlight_reason}}</i>

    </div>
    <div style="clear:both"></div>
    <!-- <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a> -->
  </article>
  {% endif %}
  {% endfor %}
</div>


<!-- all publications section -->
<!-- use is_show: Ture in .md to put pub in this section with default visibility -->
<!-- <div id="Publications" class='xtitle'> All Publications <span
    style="color:#333;font-size: 14px; font-family: Helvetica, Arial, sans-serif; ">
    <b> (* Indicates Co-First Authorship)</b>
  </span> <span style="color:#333;font-size: 14px; font-family: Helvetica, Arial, sans-serif; ">
    <a id="vis_teaser"> Click to Show All 🔽 </a> </span> </div>


<div class="posts">
  {% for post in site.posts %}

  {% if post.is_show %}
  <article class="post">

    {% else %}
    <article class="post unimportant post-hidden">

      {% endif %}

      <div class="teaser-container">
        <img class="teaser-left" src="{{post.teaser}}">
      </div>

      <div class="papertitle entry">{{ post.title }}</div>

      <div class="entry">
        {{ post.authors }}
      </div>

      <div class="entry">
        <i>{{post.publication}}</i>, <i>{{post.year}}</i>
        {% if post.journal%}
        /
        <i>{{post.journal}}</i>, <i>{{post.year}}</i>
        {% endif %}
      </div>

      <div class="entry">

        {% if post.arxiv%}
        <a class='links' target="_blank" href="{{ post.arxiv_url }}" rel="paperurl">PDF</a>
        {% endif %}

        {% if post.extented_url%}
        /
        <a class='links' target="_blank" href="{{ post.extented_url }}" rel="paperurl">Extended Version</a>
        {% endif %}

        {% if post.demo%}
        /
        <a class='links' target="_blank" href="{{ post.demo }}" rel="paperurl">Online Demo</a>
        {% endif %}

        {% if post.project%}
        /
        <a class='links' target="_blank" href="{{ post.project }}" rel="paperurl">Project Page</a>
        {% endif %}

        {% if post.code%}
        /
        <a target="_blank" href="{{post.code}}">Code</a>
        {% endif %}

        {% if post.code%}
        <div style="display: inline-block;float:right" class="xcode">
          <a href="{{post.code}}"><img
              src="https://img.shields.io/github/stars/{{post.code| replace:'https://github.com/', ''}}?style=social" /></a>
        </div>
        {% endif %}

      </div>
      <div style="clear:both"></div>
    </article>
    {% endfor %}
</div> -->


<div id="Service" class='xtitle'> Service</div>
<b>Conference Reviewer</b>
<ul class="news" style="line-height: 1em">
  <li>
    Neural Information Processing Systems (NeurIPS)
    <div style="float: right;">'23, '24</div>
  </li>
  <li>
    International Conference on Learning Representations (ICLR)
    <div style="float: right;">'23, '24</div>
  </li>
  <li>
    SIGKDD Conference on Knowledge Discovery and Data Mining (KDD)
    <div style="float: right;">'24</div>
  </li>
  <li>
    Conference on Empirical Methods in Natural Language Processing (EMNLP)
    <div style="float: right;">'23</div>
  </li>
  <li>
    ACM Multimedia (ACM MM)
    <div style="float: right;">'24</div>
  <li>
    IEEE Visualization Conference (IEEE VIS)
    <div style="float: right;">'23</div>
  </li>
  <li>
    International Conference on Robotics and Automation (ICRA)
    <div style="float: right;">'24</div>
  </li>
  <li>
    IEEE International Symposium on Mixed and Augmented Reality (ISMAR)
    <div style="float: right;">'23, '24</div>
  </li>
  <li>
    SIAM International Conference on Data Mining (SDM)
    <div style="float: right;">'24</div>
  </li>
  <li>
    The International Conference on Information Systems (ICIS)
    <div style="float: right;">'23</div>
  </li>
</ul>
<b>Journal Reviewer</b>
<ul class="news" style="line-height: 1em">
  <li>
    IEEE Transactions on Visualization and Computer Graphics (TVCG)
    <div style="float: right;">'23</div>
  </li>
  <li>
    Transactions on Machine Learning Research (TMLR)
    <div style="float: right;">'23</div>
  </li>
</ul>
<br /><br />
<br /><br />
<br /><br />
<center>Last Updated: May 1, 2024</center>
<br /><br />
<center>
  <script type='text/javascript' id='clustrmaps'
    src='//cdn.clustrmaps.com/map_v2.js?cl=ffffff&w=a&t=tt&d=RJT-Ixgy4XXKkKHDMTw6H94_MVleonc2s44I6-TM0wg'></script>
</center>
<!-- <script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-Y', 'auto');
  ga('send', 'pageview');
</script> -->